<html>
  <head></head>

  <body>


  <div class="sidenav">
    <a href="/admin" id="admin-main"><b>Admin Area</b></a>
    <a href="/admin/admin_setting">General Settings</a>
    <a href="/admin/users">Manage Users</a>
    <a href="/bookings">Bookings</a>

  </div>

  <div class="setting">
    <h1> Admin Area </h1>
    <hr>

    <div class="body">
      <i class="fas fa-angle-double-right"></i><a id="item" href="/admin/admin_setting"> General Settings</a><br>
      <i class="fas fa-angle-double-right"></i><a id="item" href="/admin/users"> Manage Users</a><br>
      <i class="fas fa-angle-double-right"></i><a id="item" href="/bookings"> Bookings</a><br>

      <!-- <i class="fas fa-angle-double-right"></i><liin -->
    </div>
  </div>



  </body>
</html>
