= simple_form_for @booking do |f|
  br
  h3 Details
  .bar-row
  .row
    .col-xs-12.col-sm-6.form-group
      = f.input :name, as: :string, label: false, placeholder: "Name", input_html: { class: 'form-control'}
  .row
    .col-xs-12.col-sm-6.form-group
      = f.input :email, as: :string, label: false, placeholder: "Email", input_html: { class: 'form-control'}
  .row
    .col-xs-12.col-sm-6.form-group
      = f.input :event_name, as: :string, label: false, placeholder: "Event Name", input_html: { class: 'form-control'}
  .row
    .col-xs-12.col-sm-6.form-group
      = f.input :location, label: false, collection: Booking.location_list.map {|k,v| [v,k]}, prompt: "Select Location", input_html: { class: 'custom-select'}
  br
  h3 Select Date & Time
  .bar-row
  .row.hide
    .col-xs-12.col-sm-6.form-group
      label.control-label for="input" Start Date
      = f.input :start_date, as: :string, label: false
      .bar
  .row.hide
    .col-xs-12.col-sm-6.form-group
      label.control-label for="input" End Date
      = f.input :end_date, as: :string, label: false
      .bar
  div
    .calendar
  br
  = f.submit "Complete Booking", class: 'btn btn-blue'

javascript:
  var initialize_calendar;
  var calendar_event;
  calendar_event = gon.bookings["makerspace"];
    initialize_calendar = function() {
      $('.calendar').fullCalendar({
          defaultView: 'agendaWeek',
          events: calendar_event,
          height: 'auto',
          minTime: '12:00:00',
          maxTime: '20:00:00',
          slotDuration: '00:60:00',
          allDaySlot: false,
          selectable: true,
          selectHelper: true,
          eventLimit: true,

          select: function(start, end) {
            $('#booking_start_date').val(moment(start).format('DD-MM-YYYY HH:mm'));
            $('#booking_end_date').val(moment(end).format('DD-MM-YYYY HH:mm'));
          }
        });
    };
    $(document).on('turbolinks:load', initialize_calendar);
    $(document).ready(function() {
      $('#booking_location').change(function() {
        var selected_location = this.value;
        console.log(selected_location);
        if(selected_location=="makerspace") {
          calendar_event = gon.bookings["makerspace"];
          $('.calendar').fullCalendar('removeEvents');
          $('.calendar').fullCalendar('addEventSource', calendar_event);
          $('.calendar').fullCalendar('rerenderEvents');
        }
        else if(selected_location=="makerlab") {
          calendar_event = gon.bookings["makerlab"];
          $('.calendar').fullCalendar('removeEvents');
          $('.calendar').fullCalendar('addEventSource', calendar_event);
          $('.calendar').fullCalendar('rerenderEvents');
        }
        else if(selected_location=="makerlounge") {
          calendar_event = gon.bookings["makerlounge"];
          $('.calendar').fullCalendar('removeEvents');
          $('.calendar').fullCalendar('addEventSource', calendar_event);
          $('.calendar').fullCalendar('rerenderEvents');
        }
        else if(selected_location=="brunsfield") {
          calendar_event = gon.bookings["brunsfield"];
          $('.calendar').fullCalendar('removeEvents');
          $('.calendar').fullCalendar('addEventSource', calendar_event);
          $('.calendar').fullCalendar('rerenderEvents');
        }
        else if(selected_location=="sandbox") {
          calendar_event = gon.bookings["sandbox"];
          $('.calendar').fullCalendar('removeEvents');
          $('.calendar').fullCalendar('addEventSource', calendar_event);
          $('.calendar').fullCalendar('rerenderEvents');
        }
      });
    });
