.starter-template
  h1 Makerlab 119
  -if @current_user
    = link_to "New Booking", new_booking_path(:location => :makerlab119), class: "btn btn-blue"

  .calendar

javascript:
  var initialize_calendar;
    initialize_calendar = function() {
      $('.calendar').fullCalendar({
          defaultView: 'agendaWeek',
          events: '/rooms/makerlab119.json',
          height: 'auto',
          minTime: '12:00:00',
          maxTime: '20:00:00',
          slotDuration: '00:60:00',
          allDaySlot: false,
          selectable: false,
          selectHelper: true,
          eventLimit: true,
        });
    };
    $(document).on('turbolinks:load', initialize_calendar);
