.starter-template
  h1 Brunsfield Center - Mill 1
  -if @current_user
    = link_to "New Booking", new_booking_path(:location => "mill1"), class: "btn btn-blue"

  br
  br
  br
  .calendar_mill1

javascript:
  var initialize_calendar;
    initialize_calendar = function() {
      $('.calendar_mill1').fullCalendar({
          defaultView: 'agendaWeek',
          events: '/rooms/mill1.json',
          height: 'auto',
          minTime: '8:00:00',
          maxTime: '17:00:00',
          slotDuration: '00:30:00',
          allDaySlot: false,
          selectable: false,
          selectHelper: true,
          eventLimit: true,
          hiddenDays: [0],
          firstDay: 1,
          nowIndicator: true,
          eventRender: function(event, element)
          {
              element.find('.fc-title').append("<br/>" + event.name + "<br/>" + event.username);
          },

          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'agendaDay,agendaWeek,month'
          },

        });
  };
    $(document).on('turbolinks:load', initialize_calendar);
