.starter-template
  h1 Workstation #3
  -if @current_user
    = link_to "New Booking", new_booking_path(:location => "sandbox_workstation3"), class: "btn btn-blue"

  br
  br
  br
  .calendar_workstation3

javascript:
  var initialize_calendar;
    initialize_calendar = function() {
      $('.calendar_workstation3').fullCalendar({
          defaultView: 'agendaWeek',
          eventSources: ['/rooms/sandbox_workstation3.json','/rooms/sandbox.json'],
          height: '100',
          minTime: '10:00:00',
          maxTime: '18:00:00',
          slotDuration: '00:15:00',
          allDaySlot: false,
          selectable: false,
          selectHelper: true,
          eventLimit: true,
          firstDay: 1,
          nowIndicator: true,
          eventRender: function(event, element)
          {
              element.find('.fc-title').append("<br/>" + event.name + "<br/>" + event.username);
          },

          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'agendaDay,agendaWeek,month'
          },

        });
    };
    $(document).on('turbolinks:load', initialize_calendar);
