.starter-template
  h1 CEED Trailer
  -if @current_user
    = link_to "New Booking", new_booking_path(:location => "trailer"), class: "btn btn-blue"

  br
  br
  br
  .calendar_trailer

javascript:
  var initialize_calendar;
    initialize_calendar = function() {
      $('.calendar_trailer').fullCalendar({
          defaultView: 'agendaWeek',
          events: '/rooms/trailer.json',
          height: '100',
          minTime: '00:00:00',
          maxTime: '23:59:59',
          slotDuration: '00:15:00',
          allDaySlot: true,
          selectable: false,
          selectHelper: true,
          eventLimit: true,
          firstDay: 1,
          nowIndicator: true,
          eventRender: function(event, element)
          {
              element.find('.fc-title').append("<br/>" + event.name + "<br/>" + event.username);
          },

          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'agendaDay,agendaWeek,month'
          },

        });
    };
    $(document).on('turbolinks:load', initialize_calendar);
