@import 'jquery-ui/core.css';
@import 'jquery-ui/datepicker.css';
@import 'jquery-ui/theme.css';
@import "bootstrap";
@import 'fullcalendar';
@import "font-awesome";

img {
    max-width: 100%;
    max-height: 100%;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.bold {
  font-weight: bold;
}
.center {
  text-align: center;
}
.login-text {
  color: #003660;
  text-align: center;
  padding: 20px;
}
input.first_name {
  padding: 5px;
  margin: 5px;
}
input.last_name {
  padding: 5px;
  margin: 5px;
}
input.username {
  padding: 5px;
  margin: 5px;
}
input.email {
  padding: 5px;
  margin: 5px;
}
input.password{
  padding: 5px;
  margin: 5px;
}
select#user_organization_id{
  padding: 5px;
  margin: 5px;
}
span.error{
  color: #df0909;
  font-size: 10px;
  display: block;
}
.container {
  width: 80%;
}
.starter-template {
  padding: 1rem 1.5rem;
  text-align: center;
}
.navbar-brand {
  color: #ffffff;
}
.navbar-brand:hover {
  color: #eeeeee;
}
.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  font-size: 18px;
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
.site-logo {
  font-size: 20px;
  color: #fff !important;
  transition: ease-in-out color .15s;
}
.site-logo:hover {
  color: #999 !important;
  text-decoration: none;
}
.profile-icon {
  color: #999 !important;
  transition: ease-in-out color .15s;
}
.profile-icon:hover {
  color: #fff !important;
  text-decoration: none;
}
.p-2 {
    padding: .5rem !important;
}
.hide{
  display: none;
}
.bar-row {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.fc-today {
    background: #e1f5fe !important;
}
.btn-blue{
  background: linear-gradient(#42a1ec,#0070c9);
  border-color: #07c;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: #ffffff;
  font-size: 15px;
}
.btn-blue:hover{
  background: linear-gradient(#51a9ee,#147bcd);
  color: #ffffff;
}
.btn-red{
  background: linear-gradient(#f62b2b,#d20202);
  border-color: #df0909;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: #ffffff;
}
.btn-red:hover{
  background: linear-gradient(#e40a0a,#9f0202);
  color: #ffffff;
}
.btn-green{
  background: linear-gradient(#00D685,#00AB6A);
  border-color: #0B7343;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: #ffffff;
  font-size: 15px;
}
.btn-green:hover{
  background: linear-gradient(#00E39A,#26DEA5);
  color: #ffffff;
}

.subtitle {
  font-size: 14px;
  color: #737a81;
  line-height: 20px;
  margin-top: 20px;
  margin-left: 16px;
}
.offerValue {
  margin-left: 1rem;
}
.center-icon{
  vertical-align: middle;
}
.dropdown-toggle::after {
    display:none
}
.dropdown-link{
  color: #0070c9 !important;
}

.location_title{
  font-size: 24px;
}


#hidden{
  display: none;
}

#booking_repeat{
  margin: 10px;
}
select#booking_until_date_1i{
  width: 100px;
  margin: 5px;
  display: inline;
}
select#booking_until_date_2i{
  width: 150px;
  display: inline;
  margin: 5px;
}
select#booking_until_date_3i{
  width: 100px;
  display: inline;
  margin: 5px;
}

.fc-content{
  margin: 5px;
}


.sidenav {
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 150px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


#admin-main{
  text-decoration: underline;
  font-size: 22px;
}

.setting{
  padding-left: 150px;
  font-size: 20px;
  line-height: 2;
}

a#item{
  text-decoration: none;
  color: #111;


}

#item a:hover {
  text-decoration: none;
}

#organization_name{
  padding-left: 10px;
  border-radius: 5px;
  height: 40px;
}

.disclaimer{
  color: #E80C0C;
}

#remove_organization{
  width: 300px;
  padding: 5px;
  border-radius: 5px;
}

#query{
  padding-left: 10px;
  width: 600px;
  border-radius: 10px;
  height: 40px;
}


#user-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 15px;
}

#user-table td, #user-table th {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

#user-table tr:nth-child(even){background-color: #f2f2f2;}

#user-table tr:hover {background-color: #ddd;}

#user-table th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: #111;
    color: white;
    text-align: center;

}
.table th{
  text-align: center;
}
.table td{
  text-align: center;
}
.table td.date{
  white-space: nowrap;
}
