@import 'jquery-ui/core.css';
@import 'jquery-ui/datepicker.css';
@import 'jquery-ui/theme.css';
@import "bootstrap";
@import 'fullcalendar';
@import "font-awesome";

img {
    max-width: 100%;
    max-height: 100%;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.bold {
  font-weight: bold;
}
.center {
  text-align: center;
}
.login-text {
  color: #003660;
  text-align: center;
  padding: 20px;
}
input.email {
  padding: 5px;
  margin: 5px;
}
input.password{
  padding: 5px;
  margin: 5px;
}
.container {
  width: 80%;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.navbar-brand {
  color: #ffffff;
}
.navbar-brand:hover {
  color: #eeeeee;
}
.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
.site-logo {
  color: #fff !important;
  transition: ease-in-out color .15s;
}
.site-logo:hover {
  color: #999 !important;
  text-decoration: none;
}
.profile-icon {
  color: #999 !important;
  transition: ease-in-out color .15s;
}
.profile-icon:hover {
  color: #fff !important;
  text-decoration: none;
}
.p-2 {
    padding: .5rem !important;
}
.hide{
  display: none;
}
.bar-row {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.fc-today {
    background: #e1f5fe !important;
}
.btn-blue{
  background: linear-gradient(#42a1ec,#0070c9);
  border-color: #07c;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: #ffffff;
}
.btn-blue:hover{
  background: linear-gradient(#51a9ee,#147bcd);
  color: #ffffff;
}
.btn-red{
  background: linear-gradient(#f62b2b,#d20202);
  border-color: #df0909;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: #ffffff;
}
.btn-red:hover{
  background: linear-gradient(#e40a0a,#9f0202);
  color: #ffffff;
}
.subtitle {
  font-size: 14px;
  color: #737a81;
  line-height: 20px;
  margin-top: 20px;
  margin-left: 16px;
}
.offerValue {
  margin-left: 1rem;
}
.center-icon{
  vertical-align: middle;
}
.dropdown-toggle::after {
    display:none
}
.dropdown-link{
  color: #0070c9 !important;
}
