@import 'jquery-ui/core.css';
@import 'jquery-ui/datepicker.css';
@import 'jquery-ui/theme.css';
@import "bootstrap";

img {
    max-width: 100%;
    max-height: 100%;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.bold {
  font-weight: bold;
}
.center {
  text-align: center;
}
.login-text {
  color: #003660;
  text-align: center;
  padding: 20px;
}
input.email {
  padding: 5px;
  margin: 5px;
}
input.password{
  padding: 5px;
  margin: 5px;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.navbar-brand {
  color: #ffffff;
}
.navbar-brand:hover {
  color: #eeeeee;
}
.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
.navbar-brand {
  color: #fff !important;
  transition: ease-in-out color .15s;
}
.navbar-brand:hover {
  color: #999 !important;
  text-decoration: none;
}
