// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input.first_name {
  padding: 5px;
  margin: 5px;
}
input.last_name {
  padding: 5px;
  margin: 5px;
}
div.user-profile-header{
  font-size: 30px;

}
